        <!-- Start of Main -->
<main class="main">
    <div class="container pb-2">
        <div class="intro-section mb-2">
            <div class="row">
                <div class="intro-slide-wrapper col-lg-9">
                    <div class="swiper-container swiper-theme animation-slider pg-inner pg-xxl-hide pg-show pg-white nav-xxl-show nav-hide swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" data-swiper-options="{'spaceBetween': 0,'slidesPerView': 1}">
                        <div class="swiper-wrapper " id="swiper-wrapper-5b733e62108e258ed" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide banner banner-fixed intro-slide intro-slide1 br-sm text-center swiper-slide-active" style="background-image: url(&quot;assets/images/demos/demo11/slides/slide-1.jpg&quot;); background-color: rgb(91, 152, 183); width: 1015px;" role="group" aria-label="1 / 3">
                                <div class="banner-content y-50">
                                    <h3 class="banner-title text-capitalize text-white font-secondary font-weight-normal ls-0 slide-animate fadeInLeftShorter show-content" data-animation-options="{'name': 'fadeInLeftShorter', 'duration': '.5s', 'delay': '.2s'}" style="">
                                        City Light
                                    </h3>
                                    <span class="font-weight-bolder text-uppercase text-white slide-animate d-block ls-normal fadeInRightShorter show-content" data-animation-options="{'name': 'fadeInRightShorter', 'duration': '.5s', 'delay': '.4s'}" style="">
                                        Fashion Show 2021
                                    </span>
                                </div>
                            </div>
                            <!-- End of Intro Slide 1 -->
                            <div class="swiper-slide banner banner-fixed intro-slide intro-slide2 br-sm swiper-slide-next" style="background-image: url(&quot;assets/images/demos/demo11/slides/slide-2.jpg&quot;); background-color: rgb(223, 224, 228); width: 1015px;" role="group" aria-label="2 / 3">
                                <div class="banner-content">
                                    <div class="slide-animate" data-animation-options="{'name': 'fadeInDownShorter', 'duration': '1s'}">
                                        <h3 class="banner-title text-capitalize text-dark font-secondary font-weight-normal mb-1">New Arrivals!</h3>
                                        <h4 class="banner-price-info text-capitalize text-dark mb-4 ls-25">
                                            Lifestyle From <strong class="text-secondary">$25.99</strong>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Intro Slide 2 -->
                            <div class="swiper-slide banner banner-fixed intro-slide intro-slide3 br-sm" style="background-image: url(&quot;assets/images/demos/demo11/slides/slide-3.jpg&quot;); background-color: rgb(236, 236, 236); width: 1015px;" role="group" aria-label="3 / 3">
                                <div class="banner-content y-50">
                                    <div class="slide-animate" data-animation-options="{'name': 'fadeInLeftShorter', 'duration': '1s'}">
                                        <h3 class="banner-title text-capitalize text-dark font-secondary font-weight-normal">From Online Store</h3>
                                        <h4 class="banner-price-info text-dark ls-25">
                                            <strong>Get up to</strong><br>
                                            35% OFF!
                                        </h4>

                                    </div>
                                </div>
                            </div>
                            <!-- End of Intro Slide 3 -->
                        </div>
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
                        <button class="swiper-button-next" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-5b733e62108e258ed" aria-disabled="false"></button>
                        <button class="swiper-button-prev swiper-button-disabled" disabled="" tabindex="-1" aria-label="Previous slide" aria-controls="swiper-wrapper-5b733e62108e258ed" aria-disabled="true"></button>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
                <div class="intro-banner-wrapper col-lg-3 mt-4">
                    <div class="banner banner-fixed intro-banner col-lg-12 col-sm-6 br-sm mb-4">
                        <figure>
                            <img src="~/assets/images/demos/demo11/banner/banner-1.jpg" alt="Category Banner" width="680" height="180" style="background-color: #E4E7EC;">
                        </figure>
                        <div class="banner-content">
                            <h4 class="banner-subtitle text-capitalize text-default font-secondary font-weight-normal">Top Products</h4>
                            <h3 class="banner-title text-dark text-uppercase ls-25">Soft Towel</h3>
                        </div>
                    </div>
                    <!-- End of Intro Banner -->
                    <div class="banner banner-fixed intro-banner col-lg-12 col-sm-6 intro-banner2 mb-4 br-sm">
                        <figure>
                            <img src="~/assets/images/demos/demo11/banner/banner-2.jpg" alt="Category Banner" width="680" height="180" style="background-color: #33363B;">
                        </figure>
                        <div class="banner-content">
                            <h4 class="banner-subtitle text-capitalize font-secondary font-weight-normal">New Arrivals</h4>
                            <h3 class="banner-title text-white text-uppercase ls-25">Fresh Cameras</h3>
                        </div>
                    </div>
                    <!-- End of Intro Banner -->
                </div>
            </div>
        </div>
        <!-- End of Intro-section -->
        <!-- End of Icon Box Wrapper -->
        <h2 class="title mb-5 appear-animate fadeIn appear-animation-visible pt-10" style="animation-duration: 1.2s;">
            Top Categories of the Month
        </h2>
        <div class="swiper-container swiper-theme shadow-swiper category-wrapper appear-animate swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events fadeIn appear-animation-visible" data-swiper-options="{'spaceBetween': 20,'slidesPerView': 2,'breakpoints': {'576': {'slidesPerView': 3},'768': {'slidesPerView': 4},'992': {'slidesPerView': 5},'1200': {'slidesPerView': 8}}}" style="animation-duration: 1.2s;">
            <div class="swiper-wrapper " id="swiper-wrapper-8e8fd44144373447" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; height: 202px;">
                <div class="swiper-slide category category-ellipse swiper-slide-active" role="group" aria-label="1 / 9" style="width: 137.5px; margin-right: 20px;">
                    <figure class="category-media">
                        <a href="shop-banner-sidebar.html">
                            <img src="~/assets/images/categories/category-4.jpg" alt="Categroy" width="190" height="190" style="background-color: #5C92C0;">
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="shop-banner-sidebar.html">Sports</a>
                        </h4>
                    </div>
                </div>
                <div class="swiper-slide category category-ellipse swiper-slide-next" role="group" aria-label="2 / 9" style="width: 137.5px; margin-right: 20px;">
                    <figure class="category-media">
                        <a href="shop-banner-sidebar.html">
                            <img src="~/assets/images/categories/category-5.jpg" alt="Categroy" width="190" height="190" style="background-color: #B8BDC1;">
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="shop-banner-sidebar.html">Babies</a>
                        </h4>
                    </div>
                </div>
                <div class="swiper-slide category category-ellipse" role="group" aria-label="3 / 9" style="width: 137.5px; margin-right: 20px;">
                    <figure class="category-media">
                        <a href="shop-banner-sidebar.html">
                            <img src="~/assets/images/categories/category-5.jpg" alt="Categroy" width="190" height="190" style="background-color: #99C4CA;">
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="shop-banner-sidebar.html">Sneakers</a>
                        </h4>
                    </div>
                </div>
                <div class="swiper-slide category category-ellipse" role="group" aria-label="4 / 9" style="width: 137.5px; margin-right: 20px;">
                    <figure class="category-media">
                        <a href="shop-banner-sidebar.html">
                            <img src="~/assets/images/categories/category-7.jpg" alt="Categroy" width="190" height="190" style="background-color: #4E5B63;">
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="shop-banner-sidebar.html">Cameras</a>
                        </h4>
                    </div>
                </div>
                <div class="swiper-slide category category-ellipse" role="group" aria-label="5 / 9" style="width: 137.5px; margin-right: 20px;">
                    <figure class="category-media">
                        <a href="shop-banner-sidebar.html">
                            <img src="~/assets/images/categories/category-8.jpg" alt="Categroy" width="190" height="190" style="background-color: #D3E5EF;">
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="shop-banner-sidebar.html">Games</a>
                        </h4>
                    </div>
                </div>
                <div class="swiper-slide category category-ellipse" role="group" aria-label="6 / 9" style="width: 137.5px; margin-right: 20px;">
                    <figure class="category-media">
                        <a href="shop-banner-sidebar.html">
                            <img src="~/assets/images/categories/category-9.jpg" alt="Categroy" width="190" height="190" style="background-color: #65737C;">
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="shop-banner-sidebar.html">Kitchen</a>
                        </h4>
                    </div>
                </div>

                <div class="swiper-slide category category-ellipse" role="group" aria-label="7 / 9" style="width: 137.5px; margin-right: 20px;">
                    <figure class="category-media">
                        <a href="shop-banner-sidebar.html">
                            <img src="~/assets/images/categories/category-7.jpg" alt="Categroy" width="190" height="190" style="background-color: #4E5B63;">
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="shop-banner-sidebar.html">Cameras</a>
                        </h4>
                    </div>
                </div>
                <div class="swiper-slide category category-ellipse" role="group" aria-label="8 / 9" style="width: 137.5px; margin-right: 20px;">
                    <figure class="category-media">
                        <a href="shop-banner-sidebar.html">
                            <img src="~/assets/images/categories/category-8.jpg" alt="Categroy" width="190" height="190" style="background-color: #D3E5EF;">
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="shop-banner-sidebar.html">Games</a>
                        </h4>
                    </div>
                </div>
                <div class="swiper-slide category category-ellipse" role="group" aria-label="9 / 9" style="width: 137.5px; margin-right: 20px;">
                    <figure class="category-media">
                        <a href="shop-banner-sidebar.html">
                            <img src="~/assets/images/categories/category-9.jpg" alt="Categroy" width="190" height="190" style="background-color: #65737C;">
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="shop-banner-sidebar.html">Kitchen</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: block;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>

            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
        <br>

        <div class="banner banner-fixed sale-on-banner br-sm">
            <figure>
                <img src="~/assets/images/demos/demo11/banner/full-2.jpg" alt="Category Banner" width="680" height="180" style="background-color: #2F3237;">
            </figure>
            <div class="banner-content text-center x-50 y-50 mt-1">
                <h3 class="banner-title text-white font-secondary font-weight-normal mb-2">Sale on This Friday</h3>
                <h4 class="banner-price-info justify-content-center text-white text-uppercase ls-25 d-flex mb-2">
                    70% Off
                </h4>
            </div>
        </div>
        <!-- End of sale-on-banner  -->

        <div class="title-link-wrapper select-products-title title-post mb-0 after-none appear-animate">
            <h2 class="title mb-1 ls-25 pt-1">Category 1</h2>
        </div>
        <div class="tab-content bg-grey mb-5" style="height: 236px;">
            <div class="tab-pane active" id="tab1-2">
                <div class="swiper-container swiper-theme product-deals-wrapper appear-animate swiper-container-initialized swiper-container-horizontal" data-swiper-options="{
                            'spaceBetween': 20,'slidesPerView': 2,'breakpoints': {'576': {'slidesPerView': 3},'768': {'slidesPerView': 4},'992': {'slidesPerView': 5}}}">
                    <div class="swiper-wrapper " id="swiper-wrapper-e46b806ff94e6933" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide product-wrap swiper-slide-active" role="group" aria-label="1 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                        <div class="swiper-slide product-wrap swiper-slide-next" role="group" aria-label="2 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                        <div class="swiper-slide product-wrap" role="group" aria-label="3 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                        <div class="swiper-slide product-wrap" role="group" aria-label="4 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                        <div class="swiper-slide product-wrap" role="group" aria-label="5 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>

        <div class="title-link-wrapper select-products-title title-post mb-0 after-none appear-animate">
            <h2 class="title mb-1 ls-25 pt-1">Category 1</h2>
        </div>
        <div class="tab-content bg-grey mb-5" style="height: 236px;">
            <div class="tab-pane active" id="tab1-2">
                <div class="swiper-container swiper-theme product-deals-wrapper appear-animate swiper-container-initialized swiper-container-horizontal" data-swiper-options="{
                            'spaceBetween': 20,'slidesPerView': 2,'breakpoints': {'576': {'slidesPerView': 3},'768': {'slidesPerView': 4},'992': {'slidesPerView': 5}}}">
                    <div class="swiper-wrapper " id="swiper-wrapper-e46b806ff94e6933" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide product-wrap swiper-slide-active" role="group" aria-label="1 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                        <div class="swiper-slide product-wrap swiper-slide-next" role="group" aria-label="2 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                        <div class="swiper-slide product-wrap" role="group" aria-label="3 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                        <div class="swiper-slide product-wrap" role="group" aria-label="4 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                        <div class="swiper-slide product-wrap" role="group" aria-label="5 / 5" style="width: 256px; margin-right: 20px;">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/assets/images/demos/demo11/products/1-1-1.jpg" alt="Product" width="300" height="337">
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
                                        <a href="product-default.html" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Leather Stripe Watch</a></h4>

                                    <div class="product-price">
                                        <ins class="new-price">$189.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>

        <div class="title-link-wrapper mb-2 appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">
            <h2 class="title">From Our Blog</h2>
            <a href="news.html" class="font-weight-bold font-size-normal ls-25">
                View All
                Articles
            </a>
        </div>
        <div class="swiper-container swiper-theme post-wrapper appear-animate swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events fadeIn appear-animation-visible" data-swiper-options="{
                    'slidesPerView': 1,'spaceBetween': 20,'breakpoints': {'576': {'slidesPerView': 2},'768': {'slidesPerView': 3},'992': {'slidesPerView': 4}}}" style="animation-duration: 1.2s;height: 350px;">
            <div class="swiper-wrapper " id="swiper-wrapper-76f646e73b49a6103" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                <div class="swiper-slide post text-center overlay-zoom swiper-slide-active" role="group" aria-label="1 / 4" style="width: 295px; margin-right: 20px;">
                    <figure class="post-media br-sm">
                        <a href="post-single.html">
                            <img src="~/assets/images/demos/demo11/blog/1.jpg" alt="Post" width="295" height="190" style="background-color: #C4C1BC;">
                        </a>
                    </figure>
                    <div class="post-details">

                        <h4 class="post-title">
                            <a href="post-single.html">Aliquam tincidunt mauris eurisus</a>
                        </h4>
                        <a href="post-single.html" class="btn btn-link btn-dark btn-underline font-weight-normal">Read More<i class="w-icon-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="swiper-slide post text-center overlay-zoom swiper-slide-next" role="group" aria-label="2 / 4" style="width: 295px; margin-right: 20px;">
                    <figure class="post-media br-sm">
                        <a href="post-single.html">
                            <img src="~/assets/images/demos/demo11/blog/2.jpg" alt="Post" width="295" height="190" style="background-color: #F3D5BA;">
                        </a>
                    </figure>
                    <div class="post-details">

                        <h4 class="post-title"><a href="post-single.html">Cras ornare tristique elit</a></h4>
                        <a href="post-single.html" class="btn btn-link btn-dark btn-underline font-weight-normal">Read More<i class="w-icon-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="swiper-slide post text-center overlay-zoom" role="group" aria-label="3 / 4" style="width: 295px; margin-right: 20px;">
                    <figure class="post-media br-sm">
                        <a href="post-single.html">
                            <img src="~/assets/images/demos/demo11/blog/3.jpg" alt="Post" width="295" height="190" style="background-color: #999999;">
                        </a>
                    </figure>
                    <div class="post-details">

                        <h4 class="post-title">
                            <a href="post-single.html">Vivamus vestibulum ntulla nec ante</a>
                        </h4>
                        <a href="post-single.html" class="btn btn-link btn-dark btn-underline font-weight-normal">Read More<i class="w-icon-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="swiper-slide post text-center overlay-zoom" role="group" aria-label="4 / 4" style="width: 295px; margin-right: 20px;">
                    <figure class="post-media br-sm">
                        <a href="post-single.html">
                            <img src="~/assets/images/demos/demo11/blog/4.jpg" alt="Post" width="295" height="190" style="background-color: #211715;">
                        </a>
                    </figure>
                    <div class="post-details">

                        <h4 class="post-title"><a href="post-single.html">Fusce lacinia arcuet nulla</a></h4>
                        <a href="post-single.html" class="btn btn-link btn-dark btn-underline font-weight-normal">Read More<i class="w-icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

    </div>
    <!-- End of Container -->

</main>
<!-- End of Main -->
